name: Generic PR Validation

on: 
  workflow_call:
    inputs:
      environment:
        description: 'Environment to run diff against'
        required: true
        type: string
      skipDiff:
        description: 'Skip diff'
        required: true
        default: 'false'
        type: string
      applyTestMode:
        description: 'Kubectl apply test mode on'
        required: true
        default: 'false'
        type: string
    secrets:
      AWS_REGION:
        required: true
      EKS_CLUSTER_NAME:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  lint:
    secrets: inherit
    uses: ./.github/workflows/pr-validation-sub-core-validation.yaml
    with:
      environment: ${{ inputs.environment }}
  
  create_runner:
    name: "[${{ inputs.environment }}] Create Self-Hosted"
    runs-on: ubuntu-22.04
    needs: [ lint ]
    environment: ${{ inputs.environment }}
    outputs:
      ecs_task_id: ${{ steps.start_runner.outputs.ecs_task_id }}
    strategy:
      matrix:
        index: [1,2,3]
      fail-fast: false
    steps:
      - name: "[${{ inputs.environment }}] Start GitHub Runner"
        id: start_runner
        uses: pagopa/interop-github-runner-aws-create-action@main
        with:
          aws_region: ${{ secrets.AWS_REGION }}
          iam_role_arn: ${{ secrets.ECS_IAM_ROLE_ARN }}
          ecs_cluster_name: ${{ secrets.ECS_CLUSTER_NAME }}
          ecs_task_definition: ${{ secrets.ECS_TASK_DEFINITION }}
          ecs_task_cpu: ${{ vars.ECS_TASK_CPU }}
          ecs_task_memory: ${{ vars.ECS_TASK_MEMORY }}
          ecs_container_name: ${{ vars.ECS_TASK_CONTAINER_NAME }}
          ecs_task_subnet_id: ${{ secrets.SUBNET_ID }}
          ecs_task_sec_group: ${{ secrets.SEC_GROUP_ID }}
          ecs_task_max_duration_seconds: ${{ vars.ECS_TASK_MAX_DURATION_SECONDS }}
          pat_token: ${{ secrets.BOT_TOKEN }}
          environment: ${{ inputs.environment }}
  
  diff:
    needs: [ create_runner ]
    secrets: inherit
    if: ${{ inputs.skipDiff == 'false' }}
    uses: ./.github/workflows/pr-validation-sub-core-diff.yaml
    with:
      environment: ${{ inputs.environment }}

  delete_runner:
    name: "[${{ inputs.environment }}] Delete Self-Hosted Runner"
    needs: [ diff ]
    if: ${{ always() }}
    runs-on: ubuntu-22.04
    environment: ${{ inputs.environment }}
    strategy:
      matrix:
        index: [1,2,3]
      fail-fast: false
    steps:
      - name: Stop Github Runner
        id: stop_runner
        uses: pagopa/interop-github-runner-aws-cleanup-action@main
        with:
          aws_region: ${{ secrets.AWS_REGION }}
          iam_role_arn: ${{ secrets.ECS_IAM_ROLE_ARN }}
          ecs_cluster_name: ${{ secrets.ECS_CLUSTER_NAME }}
          pat_token: ${{ secrets.BOT_TOKEN }}
          environment: ${{ inputs.environment }}
    
